<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/d8c11825-c865-485c-a10c-0303f8558764/resourceGroups/liznet7api.rg/providers/Microsoft.ApiManagement/service/APIMgLiz/apis/AzureNet7WebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/d8c11825-c865-485c-a10c-0303f8558764/resourcegroups/liznet7api.rg/providers/Microsoft.Web/sites/AzureNet7WebApi20230308125816</ResourceId>
    <ResourceGroup>liznet7api.rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://azurenet7webapi20230308125816.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0c0ac4ec-d58d-48a8-8220-9237669d3d81</ProjectGuid>
    <PublishUrl>https://azurenet7webapi20230308125816.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AzureNet7WebApi20230308125816</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>